.ItemTask__container {
  min-height: 50px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

@media (max-width: 500px) {
  .ItemTask__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.ItemTask__text-btn-wrapper {
  display: flex;
  align-items: center;
}

.ItemTask__circleSign {
  margin: 0 20px 0 0;
  padding: 0;
  min-width: 20px;
  height: 20px;
  border: 2px solid #7c7c7c;
  
  background-color: transparent;
  border-radius: 1000px;
  cursor: pointer;
}

.ItemTask__circleSign--completed {
  background-color: #7c7c7c;
}

.ItemTask__taskText {
  margin-right: 20px;
}

.ItemTask__taskText--completed {
  font-style: italic;
  text-decoration: line-through;
  color: #a8a8a8;
}

.ItemTask__actions {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  list-style-type: none;
}

@media (max-width: 500px) {
  .ItemTask__actions {
    margin: 15px 0 0 0;
  }
}

.ItemTask__action:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .ItemTask__action {
    margin-right: 20px;
  }
}

.ItemTask__button {
  display: block;
  margin: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: none;
  
  border-radius: 1000px;
  background-color: transparent;
  cursor: pointer;
}

.ItemTask__button:hover {
  background-color: rgb(239, 210, 99);
}

.ItemTask__button svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.ItemTask__button:hover path {
  fill: rgb(249,72,109);
}

.ItemTask__button--starOn path {
  fill: rgb(249,72,109);
}