.application {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: minmax(100px, 200px) auto;
  grid-template-areas: 'navbar header'
                        'navbar main';
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
}