.application {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: minmax(100px, 200px) auto;
  grid-template-areas: 'navbar header'
                        'navbar main';
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
}

.addTask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
}